body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction:column;
}

main {
  min-height: 78vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-gradient {
  background: linear-gradient(to right, #cdffd8, #94b9ff);
}

/* FONTS */

.seasons-reg {
  font-family: the-seasons, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.seasons-light {
  font-family: the-seasons, sans-serif;
  font-style: normal;
  font-weight: 300;
}

  .garamond-reg {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

header {
  position:relative;
  width: 100%;
}



/* CSS for Project */

.card-style {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
  display: block;
}

.cards img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.cards .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;

}

.cards .card-title {
  text-align: center;
  min-height: 3em;
  overflow: hidden; /* prevents text overflow */
  text-overflow: ellipsis;  /* show ellipses for long text*/
  display: -webkit-box;
  -webkit-line-clamp: 2; /* limits to 2 lines */
  -webkit-box-orient: vertical;
  white-space: normal; /* allow text wrapping */
  padding-left: 0;
  font-size: 1.3em;
}

.card-text {
  min-height: 2em;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* limits to 3 lines */
  -webkit-box-orient: vertical;
  white-space: normal; /* prevents text wrapping to keep card height consistent */
  padding-left: 0;
  font-size: 1.1em;
}

.button-style {
  background-color: #a71f66;
}

h1 {
  text-align: center;
}

.project-link {
  text-decoration: none;
  }
  
  .project-link:hover {
    color: rgb(93, 20, 52);
  }

  /* CSS for ABOUT*/
 

  .image-card {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    align-self: flex-start;
  }
  .card-text2 {
    flex-grow: 1;
    overflow: visible; /* Ensures text is not clipped */
    text-overflow: clip; /* Disables ellipsis */
    white-space: normal; /* Allows text to wrap */
    padding-left: 0;
    font-size: 1.1em;
    padding: 10px 0;
    margin: 0;
    -webkit-line-clamp: unset; /* Removes line clamp */
    display: block; /* Ensures proper text flow */
  }

  .full-screen {
    min-height: 70vh; /* Ensures the container takes at least the full viewport height */
  }

  .indented {
    text-indent: 2em; /* or try 20px, 30px, etc. */
  }
  